html{
  background-color: rgba(99,141,50);
}
.App {
  text-align: center;
}

.stateChange{
  align-items: center;
}
.before{
   width: 400px;
  height: 400px; 
  background-color:rgb(194, 165, 102); 
  text-align: center;
  font-family: 'Bebas Neue', cursive;
 color: pink;
 font-size: 70px;
 display: flex;
 align-items: center;
}
.after{
  width: 400px;
  height: 400px; 
  background-color:pink; 
text-align: center;
color: rgb(194, 165, 102);
font-family: 'Bebas Neue', cursive;
font-size: 70px;
 display: flex;
 align-items: center;
left: 50%;
}

button{
  border: double  rgb(138, 196, 72);
  background-color: rgba(99,141,50);
  font-family: 'Bebas Neue', cursive;
  color:pink;
  font-size: 15px;
}


p{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: rgb(194, 165, 102);
}



